<!-- <div class="user-filter-container">
        <mat-card>
          <mat-card-content>
            
                <mat-spinner-button  (onClickFunc)="OnSearchButtonClicked()"
                  [options]="createUserButtonOpts"></mat-spinner-button >
                <mat-spinner-button  (onClickFunc)="OnAddButtonClicked()" class="margin-left"
                  [options]="cancelButtonOpts"></mat-spinner-button >
              
          </mat-card-content>
        </mat-card>
      </div> -->
      

     <!-- <div>
            <button (onClickFunc)="OnSearchButtonClicked()">Add User</button>
            <button (onClickFunc)="OnAddButtonClicked()" >Search User</button>

           
     </div> -->