<div class="user-filter-container">
        <mat-card>
          <mat-card-content>
          
              <!-- <mg-progress-button (click)="OnSearchButtonClicked()"
              [options]="searchButtonOpts"></mg-progress-button>
            
              <mg-progress-button (click)="OnAddButtonClicked()" 
              [options]="addButtonOpts"></mg-progress-button> -->
           

            
                <mat-spinner-button  (onClickFunc)="OnSearchButtonClicked()"
                  [options]="createUserButtonOpts"></mat-spinner-button >
                <mat-spinner-button  (onClickFunc)="OnAddButtonClicked()" class="margin-left"
                  [options]="cancelButtonOpts"></mat-spinner-button >
              
          </mat-card-content>
        </mat-card>
      </div>